@tailwind base;
  @tailwind components;
  @tailwind utilities;



.background {
    /* background-image: url("../../public/background.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2D3047; 
    /* opacity: 20%; */
    background-blend-mode: overlay;
    height: 100%;
    width: 100%;
}

.bidLayout {
    background-image: url("../../public/bidImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2D2F42; 
    background-blend-mode: overlay;
    height: 100%;
    width: 100%;
}


.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


input{
    color: black;
}